# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# macOS files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
desktop.ini

# VSCode settings
.vscode/

# Python virtual environments
venv/
env/

# PyInstaller
*.spec
dist/
build/

# Logs
*.log

# IDEs
.idea/

# Pipenv
Pipfile.lock
